- @user_prototypes.each do |user_prototype|
  .col-sm-4.col-md-3.proto-content
    .thumbnail
      = link_to prototype_path(user_prototype) do
        = image_tag user_prototype.capturedimages.first.image
        .caption
          %h3
            = user_prototype.title
          .proto-meta
            .proto-date
              Apr 26
          %ul.proto-tag-list.list-inline
            %li
              %a{href: "#", class: "btn btn-default"} iPad
            %li
              %a{href: "#", class: "btn btn-default"} wireframe
